@page
@model IndexModel
@{
    ViewData["Title"] = "TechWebDots";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        🧿 Hello & Welcome to TechWebDots. 
        <br />Join us 🤝 for completely free technical videos/ coding tutorials/ trainings/ hands on experience by 🥇Certified & Experienced working professionals 👨‍✈️ on Microsoft Technology stack like .NET, ASP.NET, C#, MVC, Entity Framework, ASP.NET Core, Microservices, Web API and SQL Server, Design Patterns & Solid principles for Software Engineers.
        <br /> Newly added Angular, Cloud, DevOps, CICD pipeline & Agile Getting Started tutorials.
        <br />🎯 We try our best to demonstrate every concept with very easy hands on code examples🗒️.
        <br />🔴 Please Subscribe Now 👆 to support our hard work.
        <br />🔔 Hit the bell icon to get the instant 📢 notification 📲.
        <br />📨 For any interactions please write us at TechWebDots@gmail.com
    </p>
    <p>Learn more about <a href="https://www.youtube.com/techwebdots">TechWebDots</a>.</p>
</div>
